.menu-open-btn {
  display: block;
  margin-left: auto;
  background: transparent;
  outline: transparent;
  border: transparent;
  fill: var(--accent-color);
  @include tablet {
    display: none;
  }
}
