.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.2);

  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 90%;
  padding: 20px;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: var(--modal-bg-color);
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include mobile {
    padding: 40px;
    min-width: 450px;
    min-height: 609px;
  }
  @include desktop {
    min-width: 528px;
    min-height: 581px;
    max-width: 1000px;
    top: 120px;
  }

  .backdrop.is-hidden & {
    transform: translate(500px, 500px);
  }
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: var(--accent-color);
  }
}

.modal__after__img {
  display: block;
  width: 350px;
  height: 253px;
  margin: 0 auto 30px;
}

.modal__after {
  text-align: center;
  animation: fadeIn 0.4s ease;
}
.modal__after.is-hidden,
.modal__after__error.is-hidden {
  display: none;
}
.modal-order.is-hidden {
  display: none;
}

.order__number {
  color: var(--accent-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
